<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Passport Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>TD3 PASSPORT</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Prendre une photo du passport pour extraire les informations a partir du code MRZ.</p>
        <ion-button (click)="takePicture()">Prendre une photo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
