<!-- src/app/tabs/tabs.page.html -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mrz-scanner">
      <ion-icon name="camera"></ion-icon>
      <ion-label>MRZ Live Scanner</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="passport-scanner" >
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>Passport</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="identite-scanner" >
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Identité</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
