<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Stored codes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Stored codes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="passports.length > 0; else loadingOrError">
    <ion-item *ngFor="let passport of passports">
      <ion-label>
        <h2>Surname : {{ passport.surname }} Given names : {{ passport.givenNames }}</h2>
        <p>Passport Number : {{ passport.passportNumber }}</p>
        <p>Type : {{ passport.type }} - Country : {{ passport.country }}</p>
        <p>Nationality : {{ passport.nationality }}</p>
        <p>Date of Birth: {{ passport.dateOfBirth }} - Sex :{{ passport.sex }}</p>
        <p>Expiry : {{ passport.dateOfExpiry }}</p>
        <p>Personal Number :{{ passport.personalNumber }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loadingOrError>
    <ion-spinner name="lines-sharp" *ngIf="loading"></ion-spinner>
    <div *ngIf="!loading && !passports.length">
      <p>No stored passports found.</p>
    </div>
    <div *ngIf="error">
      <p>No passports !</p>
      <p>Error :</p>
      <p>{{ errorText }}</p>
    </div>
  </ng-template>
</ion-content>
