<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Stored codes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Stored codes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngFor="let passport of passports">
        <ion-label>
          <h2>{{ passport.surname }} {{ passport.givenNames }}</h2>
          <p>{{ passport.passportNumber }}</p>
          <p>{{ passport.type }} - {{ passport.country }}</p>
          <p>{{ passport.nationality }}</p>
          <p>{{ passport.dateOfBirth }} - {{ passport.sex }}</p>
          <p>{{ passport.dateOfExpiry }}</p>
          <p>{{ passport.personalNumber }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
