<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Identite Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-padding-top">
      <ion-col>
        <h2>TD1 IDENTITE &#x28; inadapté &#x29;</h2>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <p>Prendre une photo du passport pour extraire les details a partir du code MRZ.</p>
        <ion-button expand="block" (click)="takePicture()">Prendre une photo</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding" *ngIf="isLoading">
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Traitement de l'image...</p>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-padding">
      <ion-col class="ion-text-center">
        <h3>Details du code reconnu</h3>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <form [formGroup]="idCardForm" (ngSubmit)="saveData()">
          <ion-item lines="full">
            <ion-label>Type de passeport</ion-label>
            <ion-input formControlName="type" [value]="parsedData?.documentType || ''" readonly></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Pays</ion-label>
            <ion-input formControlName="issuingCountry" [value]="parsedData?.issuingCountry || ''" readonly></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Nom de famille</ion-label>
            <ion-input formControlName="lastName" [value]="parsedData?.lastName || ''" readonly></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Prénoms</ion-label>
            <ion-input formControlName="optionalData" [value]="parsedData?.optionalData2 || ''" readonly></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Numéro de passeport</ion-label>
            <ion-input formControlName="documentNumber" [value]="parsedData?.documentNumber || ''" readonly></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Nationalité</ion-label>
            <ion-input formControlName="nationality" [value]="parsedData?.nationality || ''" readonly></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Date de naissance</ion-label>
            <ion-input formControlName="dateOfBirth" [value]="parsedData?.dateOfBirth || ''" readonly></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Sexe</ion-label>
            <ion-input formControlName="sex" [value]="parsedData?.sex || ''" readonly></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Date d'expiration</ion-label>
            <ion-input formControlName="dateOfExpiry" [value]="parsedData?.dateOfExpiry || ''" readonly></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Numéro personnel</ion-label>
            <ion-input formControlName="optionalData" [value]="parsedData?.optionalData || ''" readonly></ion-input>
          </ion-item>
          

          <ion-row class="ion-margin-top">
            <ion-col>
              <ion-button color="danger" expand="full" (click)="discardData()">Réinitialiser </ion-button>
            </ion-col>
            
            
            
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
