<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>MRZ SCANNER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">MRZ SCANNER</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-button (click)="scanMrz()">Scan MRZ</ion-button>
    <div *ngIf="scannedText">
      <h2>MRZ Data:</h2>
      <p>{{ scannedText }}</p>
    </div>
  </ion-content>
</ion-content>
