<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Bienvenue dans l'application de scan MRZ</h2>
        <p>
          Cette application vous permet de scanner la zone lisible par machine (MRZ) des passeports et des cartes d'identité à l'aide de la caméra de votre appareil.
          Utilisez l'onglet Scanner MRZ pour commencer à scanner et extraire les données MRZ de vos documents.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        
        <h2>Testez votre caméra</h2>
        <p>Vous pouvez également tester votre caméra ci-dessous.</p>
        <ion-button (click)="takePicture()">Tester votre caméra</ion-button>
        <div *ngIf="capturedImage">
          <h2>Image Capturée :</h2>
          <img [src]="capturedImage" (error)="onImageError()" />
          <ion-text *ngIf="imageLoadError" color="danger">
            Erreur de chargement de l'image. Veuillez réessayer.
          </ion-text>
        </div>
<!--         <div *ngIf="!capturedImage && !imageLoadError">
          <ion-text> Aucune image capturée pour l'instant !</ion-text>
        </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
